---
import { Icon } from 'astro-icon/components'

interface Props {
  icon?: string
  href?: string
}

const {
  icon = 'panda',
  href = '/',
} = Astro.props
---

<a href={ href }>
  <Icon
    name={ icon }
    class="w-12 h-12"
  />
</a>
