---
import Layout from '@/modules/shared/layouts/Layout.astro'
import HomeHeader from '../components/ui/HomeHeader.astro'

---

<Layout>
  <HomeHeader />
  <slot />
  <footer>
    <p>© { new Date().getFullYear() } Pxndxs</p>
  </footer>
</Layout>
